<h2 class="regist_top">新規登録</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%#= devise_error_messages!%>

  <div class="field">
    <%= f.label :email, "Eメール", class:"regist_label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"regist_field" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"regist_label" %>
    <% if @minimum_password_length %>
    <em class="regist_label">(<%= @minimum_password_length %> 文字以上の半角で入力してください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"regist_field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Password(確認用)", class:"regist_label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"regist_field" %>
  </div>

  <div class="field">
    <%= f.label :nickname, "ニックネーム", class:"regist_label" %><br />
    <%= f.text_field :nickname, autofocus: true, class:"regist_field" %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日", class:"regist_label" %><br />
    <%#= f.date_select(:birthday, use_month_numbers:true, start_year:2015, end_year:1930, class:"date_field") %>
    <%= f.date_select :birthday, {use_month_numbers: true, start_year: 2015, end_year: 1930, prompt:"--"}, {class:"date_field"} %>
  </div>

  <div class="field">
    <%= f.label :full_name, "名前（フルネーム）", class:"regist_label" %><br />
    <%= f.text_field :full_name, autofocus: true, class:"name_field" %>
  </div>

  <div class="field">
    <%= f.label :furigana, "フリガナ", class:"regist_label" %><br />
    <%= f.text_field :furigana, autofocus: true, class:"name_field" %>
  </div>

  <div class="field">
    <%= f.label :sex, "性別", class:"regist_label" %><br />
    <%= f.select :sex, {'男性': 1, '女性': 2}, { include_blank: '選択してください'}, class:"sex_field" %>
  </div>
  
  <div class="actions">
    <%= f.submit "送信", class:"regist_submit" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
<%= link_to "トップページへ", root_path, class:"root_logo" %>
