<%= render 'shared/header' %>

<% if @favorite%>
  <% if user_signed_in? && @favorite.user_id == current_user.id %>
    <%= link_to "自己紹介編集ページへ", edit_profile_path(@favorite.id), class:"new_profile" %>
  <% end %>
  
  <h1 class="profile_h1">自己紹介</h1>
  <h1 class="profile_h1">
    <%= "#{@favorite.user.nickname}さん" %>
  </h1>


  <div class="display">紹介文</div>
  <div class="index_profile">
    <%= @favorite.profile %>
  </div>

  <div class="display">好きな映画BEST10</div>
  <table class="movie_table">
    <tr>
      <th class="table_left">1位</th><th class="table_right"><%= @favorite.movie_1 %></th>
    </tr>
    <tr>
      <th class="table_left">2位</th><th class="table_right"><%= @favorite.movie_2 %></th>
    </tr>
    <tr>
      <th class="table_left">3位</th><th class="table_right"><%= @favorite.movie_3 %></th>
    </tr>
    <tr>
      <th class="table_left">4位</th><th class="table_right"><%= @favorite.movie_4 %></th>
    </tr>
    <tr>
      <th class="table_left">5位</th><th class="table_right"><%= @favorite.movie_5 %></th>
    </tr>
    <tr>
      <th class="table_left">6位</th><th class="table_right"><%= @favorite.movie_6 %></th>
    </tr>
    <tr>
      <th class="table_left">7位</th><th class="table_right"><%= @favorite.movie_7 %></th>
    </tr>
    <tr>
      <th class="table_left">8位</th><th class="table_right"><%= @favorite.movie_8 %></th>
    </tr>
    <tr>
      <th class="table_left">9位</th><th class="table_right"><%= @favorite.movie_9 %></th>
    </tr>
    <tr>
      <th class="table_left">10位</th><th class="table_right"><%= @favorite.movie_10 %></th>
    </tr>
  </table>

  <div class="display">好きな俳優BEST5</div>
  <table class="movie_table">
    <tr>
      <th class="table_left">1位</th><th class="table_right"><%= @favorite.actor_1 %></th>
    </tr>
    <tr>
      <th class="table_left">2位</th><th class="table_right"><%= @favorite.actor_2 %></th>
    </tr>
    <tr>
      <th class="table_left">3位</th><th class="table_right"><%= @favorite.actor_3 %></th>
    </tr>
    <tr>
      <th class="table_left">4位</th><th class="table_right"><%= @favorite.actor_4 %></th>
    </tr>
    <tr>
      <th class="table_left">5位</th><th class="table_right"><%= @favorite.actor_5 %></th>
    </tr>
  </table>

  <div class="display">好きな監督BEST3</div>
  <table class="movie_table">
    <tr>
      <th class="table_left">1位</th><th class="table_right"><%= @favorite.director_1 %></th>
    </tr>
    <tr>
      <th class="table_left">2位</th><th class="table_right"><%= @favorite.director_2 %></th>
    </tr>
    <tr>
      <th class="table_left">3位</th><th class="table_right"><%= @favorite.director_3 %></th>
    </tr>
  </table>
<% else %>
自己紹介はまだありません
<% end %>

<div class="user_cinemas">
  <%= "#{@user.nickname}さんのレビュー" %><br>
  一覧
</div>

レビュー本文は題名のリンクをクリックして見れます

<% @cinemas.each do |cinema| %>
  <div class="cinema_item">
    <div class="title_height">
      <div class="list_title">
        <div class="title_center">題名  </div>
      </div>
      <div class="list2">
        <%= link_to "『#{cinema.title}』", cinema_path(cinema.id), class:"list_border" %>
      </div>
    </div>

    <div class="cinema_title">
      <div class="list">点数  </div>
      <div class="list2"><%= "『#{cinema.score}点』" %></div>
    </div>

    <div class="cinema_title">
      <div class="list">ネタバレ  </div>
      <div class="list2"><%= "#{cinema.spoiler.name}" %></div>
    </div>

    <div class="cinema_title">
      <div class="list">ジャンル  </div>
      <div class="list2"><%= "#{cinema.genre.name}" %></div>
    </div>

    <div class="cinema_title">
      <div class="list">鑑賞方法  </div>
      <div class="list2"><%= "#{cinema.appreciation.name}" %></div>
    </div>

    <div class="cinema_title">
      <div class="list">鑑賞回数  </div>
      <div class="list2"><%= "#{cinema.watch_time.name}" %></div>
    </div>

  </div>
<% end %>