<header class="top_header">
  <div class="header">

    <div class="page_title">
      <div class="logo_title">
        <%= link_to "cinema review", root_path, class:"aaa" %>
      </div>
    </div>

    <div class="new_review">
      <%= link_to "レビュー投稿", new_cinema_path, class:"review_logo" %>
    </div>

    <div class="profile_review">
      <% if user_signed_in? %>
        <%= link_to "自己紹介ページ", profiles_path, class:"review_logo" %>
        <%#= link_to "自己紹介ページ", profile_path(current_user.id), class:"review_logo" %>
      <% else %>
        <%= link_to "自己紹介ページ", root_path, class:"review_logo" %>
      <% end %>
    </div>
  
  </div>

  <div class="header_second">
    <% if user_signed_in? %>
      <ul class="user_box">
        <li>
          <%= link_to current_user.nickname, "#", class:"box_left_in" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"box_right_in" %>
        </li>
      </ul>
    <% else %>
      <ul class="user_box">
        <li>
          <%= link_to "新規登録", new_user_registration_path, class:"box_left" %>
          <%= link_to "ログイン", new_user_session_path, class:"box_right" %>
        </li>
      </ul>
    <% end %>
  </div>
</header>
