<header class="header">
  <div class="page_title">
    <div class="logo_title">
      <%= link_to "cinema review", root_path, class:"aaa" %>
    </div>
  </div>
  <% if user_signed_in? %>
    <ul class="user_info">
      <li>
        <%= link_to current_user.nickname, "#", class:"user_nickname" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout" %>
      </li>
    </ul>
  <% else %>
    <ul class="user_info">
      <li>
        <%= link_to "新規登録", new_user_registration_path, class:"user_nickname" %>
        <%= link_to "ログイン", new_user_session_path, class:"logout" %>
      </li>
    </ul>
  <% end %>

  <div class="new_review">
    <%= link_to "レビュー投稿", new_cinema_path, class:"review_logo" %>
  </div>
</header>

<% @cinemas.each do |cinema| %>
  <div>
    <%= "題名  " %>
    <%= cinema.title %>
  </div>

  <div>
    <%= "点数  " %>
    <%= cinema.score %>
  </div>

  <div>
    <%= "ネタバレ  " %>
    <%= cinema.spoiler.name %>
  </div>

  <div>
    <%= "ジャンル  " %>
    <%= cinema.genre.name %>
  </div>

  <div>
    <%= "鑑賞方法  " %>
    <%= cinema.appreciation.name %>
  </div>
<% end %>